* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #f4f6f9;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Sökfältet */
#search {
  display: block;
  width: 100%;
  margin: 0 auto 2rem auto;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.2s ease;
}

#search:focus {
  outline: none;
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
}

/* Tabell */
table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px black;
}

/* Tabellhuvud */
thead {
  background-color: #0077ff;
  color: #fff;
}

th {
  padding: 1rem;
  text-align: left;
  cursor:pointer;
  user-select: none;
  transition: background 0.2s ease;
}

th:hover {
  background-color: #005fcc;
}

/* Tabellrader */
td {
  padding: 0.9 1rem;
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background-color: #f1f7ff;
}

/* Zebra */
tbody tr:nth-child(even) {
  background-color: #fafafa;
}
