* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #f4f6f9;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Sökfältet */
#search {
  display: block;
  width: 100%;
  margin: 0 auto 2rem auto;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 0.2s ease;
}

/* Tabell*/
table {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px black;
}