* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 2rem;
  background-color: #f4f6f9;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}